@import "tailwindcss";

@theme {
  --color-jeopardy-blue: #060CE9;
  --color-jeopardy-gold: #FFCC00;
  --color-jeopardy-dark: #000045;
  --color-jeopardy-border: #FFCC00;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

body {
  background-color: var(--color-jeopardy-dark);
  color: white;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
